h1,
h2,
h3,
h4 {
  color: #ffffff;
  text-transform: uppercase;
}

p {
  color: #ffffff;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

a {
  color: #ffffff;
}

.btn:hover {
  background-color: rgb(216, 216, 216, 0.2);
  cursor: pointer;
}

.btn {
  border: 1px solid #ffffff;
  background: #070724;
  box-sizing: border-box;
  text-transform: uppercase;
  mix-blend-mode: normal;
}

.Mercury-active {
  background-color: #419ebb;
}

.Venus-active {
  background-color: #eda249;
}

.Earth-active {
  background-color: #6d2ed5;
}

.Mars-active {
  background-color: #d14c32;
}

.Jupiter-active {
  background-color: #d83a34;
}

.Saturn-active {
  background-color: #cd5120;
}

.Uranus-active {
  background-color: #1ec1a2;
}

.Neptune-active {
  background-color: #2d68f0;
}

span {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.57143px;
  color: #ffffff;
}

#root {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #070724;
  background-image: url(../images/background-stars.svg);
  background-size: 100% 100%;
}

#desktop-nav-container {
  position: relative;
  width: 100%;
  height: 85px;
}

#desktop-nav-bar {
  position: relative;
  top: 85px;
  width: 100%;
  height: 1px;

  background: #ffffff;
  opacity: 0.2;
}

#desktop-nav-title {
  position: absolute;
  left: 32px;

  font-family: Antonio;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
}

#desktop-nav-planets {
  position: absolute;
  top: 33px;
  left: 735px;
  width: 665px;
  height: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav-planet-link {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

.nav-planet-link:hover {
  cursor: pointer;
}

#planet-page-container {
  position: relative;
  left: 146.95px;
  width: 1128.04px;
  height: 881.99px;
}

#planet-image-container {
  position: absolute;
  top: 66.95px;
  width: 666.09px;
  height: 666.09px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#geology-planet-image {
  position: relative;
  z-index: 1;
}

#geology-image {
  position: absolute;
  width: 163px;
  height: 199px;
  top: 400px;
  left: 253px;
  z-index: 2;
}

#planet-info-container {
  position: absolute;
  top: 126px;
  left: 778.05px;
  width: 350px;
  height: 541px;
}

#current-planet-name {
  margin: 0;
  padding: 0;
  font-family: Antonio;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 104px;
}

#planet-content {
  position: relative;
  top: 23px;
  margin: 0;
  width: 350px;
  height: 150px;
}

#planet-link {
  position: relative;
  top: 24px;
  width: 164px;
  height: 25px;
  opacity: 0.5;
}

#button-container {
  position: relative;
  top: 39px;
  width: 350px;
  height: 176px;
}

#overview-btn {
  position: absolute;
  width: 350px;
  height: 48px;
}

#overview-btn-number,
#structure-btn-number,
#geology-btn-number {
  position: absolute;
  top: 12px;
  left: 28px;
  width: 18px;
  height: 25px;
  opacity: 0.5;
}

#overview-btn-text {
  position: absolute;
  right: 183px;
  bottom: 8px;
  width: 93px;
  height: 25px;
}

#structure-btn {
  position: absolute;
  top: 64px;
  width: 350px;
  height: 48px;
}

#structure-btn-text {
  position: absolute;
  right: 84px;
  bottom: 9px;
}

#geology-btn {
  position: absolute;
  top: 128px;
  width: 350px;
  height: 48px;
}

#geology-btn-text {
  position: absolute;
  right: 108px;
  bottom: 10px;
}

#planet-quick-info-container {
  position: absolute;
  width: 1120px;
  height: 128px;
  top: 754px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quick-info-box {
  position: relative;
  width: 255px;
  height: 128px;
  border: 1px solid rgb(255, 255, 255, 0.2);
}

.quick-info-title {
  position: relative;
  top: 20px;
  left: 23px;
  margin: 0;

  font-family: Spartan;
  font-weight: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
}

.quick-info-number {
  position: relative;
  top: 23px;
  left: 23px;
  margin: 0;

  font-family: Antonio;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}
