h1,
h2,
h3,
h4 {
  color: #ffffff;
  text-transform: uppercase;
}

p {
  color: #ffffff;
  font-family: Spartan;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

a {
  color: #ffffff;
}

button {
  text-transform: uppercase;
}

span {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.57143px;
  color: #ffffff;
}

#root {
  position: absolute;
  height: 1024px;
  width: 1440px;
  background: #070724;
}

#nav-container {
  position: relative;
  width: 100%;
  height: 85px;
}

#nav-bar {
  position: relative;
  top: 85px;
  width: 100%;
  height: 1px;

  background: #ffffff;
  opacity: 0.2;
}

#nav-title {
  position: absolute;
  left: 32px;

  font-family: Antonio;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
}

#nav-planets {
  position: absolute;
  top: 33px;
  left: 735px;
  width: 665px;
  height: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-planet-link {
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
}

#planet-info-container {
  position: absolute;
  top: 212px;
  left: 925px;
  width: 350px;
  height: 541px;
}

#current-planet-name {
  margin: 0;
  padding: 0;
  font-family: Antonio;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 104px;
}

#planet-content {
  position: relative;
  top: 23px;
  margin: 0;
  width: 350px;
  height: 150px;
}

#planet-link {
  position: relative;
  top: 24px;
  width: 164px;
  height: 25px;
  opacity: 0.5;
}

#button-container {
  position: relative;
  top: 39px;
  width: 350px;
  height: 176px;
}

#overview-btn {
  position: absolute;
  width: 350px;
  height: 48px;
  background: #070724;
  border: 1px solid #ffffff;
  background: #070724;
  box-sizing: border-box;
}

#overview-btn-number,
#structure-btn-number,
#geology-btn-number {
  position: absolute;
  top: 11px;
  left: 28px;
  width: 18px;
  height: 25px;

  opacity: 0.5;
}

#overview-btn-text {
  position: absolute;
  bottom: 9px;
  right: 183px;
  width: 93px;
  height: 25px;
}

#structure-btn {
  position: absolute;
  top: 64px;
  width: 350px;
  height: 48px;
  background: #070724;

  border: 1px solid #ffffff;
  background: #070724;
  box-sizing: border-box;
}

#structure-btn-text {
  position: absolute;
  bottom: 9px;
  right: 84px;
}

#geology-btn {
  position: absolute;
  top: 128px;
  width: 350px;
  height: 48px;
  border: 1px solid #ffffff;
  background: #070724;
  box-sizing: border-box;
  /* opacity: 0.2; */
}

#geology-btn-text {
  position: absolute;
  bottom: 10px;
  right: 108px;
}

button:active {
  background: #419ebb;
}

button:hover {
  background: #d8d8d8;
  opacity: 0.2;
}
