html {
  color: #ffffff;
  text-transform: uppercase;
  opacity: unset;
}

#planet-navs {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
  right: 3%;

  opacity: 0.75;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #070724;
}

.planet-link {
  position: relative;
  list-style-type: none;
  margin: 30px;
  padding: 0;
  font-family: Spartan;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 5rem;
  outline: 1px solid white;

  mix-blend-mode: normal;
}

.title {
  margin: 0;
  position: relative;
  left: 2.5%;

  font-family: Antonio;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1.05px;
}
