.above-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  position: relative;
  font-family: Antonio;
  font-size: 28px;
  font-weight: 500;
  left: 24px;
  letter-spacing: -1.05px;
}

#menu {
  position: relative;
  right: 24px;
}

.divider {
  width: 100vw;
  height: 1px;
  background: #ffffff;
  opacity: 0.2;
}

.open-menu {
  font-family: Antonio;
}

#menu-planet-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  top: 24px;
  height: 80vh;
}

.planet-menu-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 2 auto;
  height: 10%;
}

.planet-menu-name {
  position: relative;
  font-family: Spartan;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.36px;
  left: 25px;
}

#chevron {
  position: absolute;
  right: 10%;
}

.dot {
  margin-left: 24px;
}

.Mercury-dot {
  width: 20px;
  height: 20px;
  background-color: #def4fc;
  border-radius: 50%;
}

.Venus-dot {
  width: 20px;
  height: 20px;
  background-color: #f7cc7f;
  border-radius: 50%;
}

.Earth-dot {
  width: 20px;
  height: 20px;
  background-color: #545bfe;
  border-radius: 50%;
}

.Mars-dot {
  width: 20px;
  height: 20px;
  background-color: #ff6a45;
  border-radius: 50%;
}

.Jupiter-dot {
  width: 20px;
  height: 20px;
  background-color: #ecad7a;
  border-radius: 50%;
}

.Saturn-dot {
  width: 20px;
  height: 20px;
  background-color: #fccb6b;
  border-radius: 50%;
}

.Uranus-dot {
  width: 20px;
  height: 20px;
  background-color: #65f0d5;
  border-radius: 50%;
}

.Neptune-dot {
  width: 20px;
  height: 20px;
  background-color: #497efa;
  border-radius: 50%;
}

.planet-divider {
  /* margin: 20px; */
  position: relative;
  left: 5px;
  width: 90%;
  height: 1px;
  background: #ffffff;
  opacity: 0.1;
}
